{{ if image }}
    {{ asset :url="image" }}
        {{# Configure aspect ratio's. #}}
        {{ ratio = null }}
        {{ ratio_large = null }}
        {{ aspect_ratio | trim | explode(' ') }}
            {{ if value | contains('large:') }}
                {{ aspect = value | explode(':') | last }}
                {{ ratio_large = (aspect | explode('/') | last) / (aspect | explode('/') | first) }}
            {{ elseif value != '' }}
                {{ ratio = (value | explode('/') | last) / (value | explode('/') | first) }}
            {{ /if }}
        {{ /aspect_ratio }}
        {{ original_ratio = height / width }}

        {{# Initialize srcset variable in current scope to be overwritable from partial below. #}}
        {{ srcset = null }}

        {{# Set srcset sizes. #}}
        {{ srcset = [
            [ 'width' => 320, 'ratio' => '{ ratio ?? original_ratio }' ],
            [ 'width' => 480, 'ratio' => '{ ratio ?? original_ratio }' ],
            [ 'width' => 640, 'ratio' => '{ ratio ?? original_ratio }' ],
            [ 'width' => 768, 'ratio' => '{ ratio ?? original_ratio }' ],
            [ 'width' => 1024, 'ratio' => '{ ((skip_ratio_steps != 1 && skip_ratio_steps != 2 && skip_ratio_steps != 3) ?= ratio_large) ?? ratio ?? original_ratio }' ],
            [ 'width' => 1280, 'ratio' => '{ ((skip_ratio_steps != 2 && skip_ratio_steps != 3) ?= ratio_large) ?? ratio ?? original_ratio }' ],
            [ 'width' => 1440, 'ratio' => '{ ((skip_ratio_steps != 3) ?= ratio_large) ?? ratio ?? original_ratio }' ],
            [ 'width' => 1536, 'ratio' => '{ ratio_large ?? ratio ?? original_ratio }' ],
            [ 'width' => 1680, 'ratio' => '{ ratio_large ?? ratio ?? original_ratio }' ]
        ] }}
        
        <picture>
            {{ if extension == 'svg' || extension == 'gif' }}
                <img
                    {{ if cover }}
                        class="object-cover w-full h-full {{ class }}"
                        style="object-position: {{ focus | background_position }}"
                    {{ else }}
                        class="{{ class }}"
                    {{ /if }}
                    src="{{ url }}"
                    alt="{{ alt | ensure_right('.') | entities }}"
                    width="{{ width }}"
                    height="{{ height }}"
                    {{ unless alt }}
                        aria-hidden="true"
                    {{ /unless }}
                />
            {{ else }}
                <source
                    srcset="
                        {{ srcset scope="size" }}
                            {{
                                glide:image
                                width="{ size:width }"
                                height="{ size:width * size:ratio }"
                                :bg="bg"
                                :blur="blur"
                                :brightness="brightness"
                                :contrast="contrast"
                                :filter="filter"
                                :gamma="gamma"
                                :pixelate="pixelate"
                                :sharpen="sharpen"
                                fit="crop_focal"
                                format="webp"
                                quality="{ quality ?? '85' }"
                            }} {{ size:width }}w{{ !last ?= ',' }}
                        {{ /srcset }}
                    "
                    sizes="{{ sizes ?? '(min-width: 1280px) 640px, (min-width: 768px) 50vw, 90vw' }}"
                    type="image/webp"
                >
                <source
                    srcset="
                        {{ srcset scope="size" }}
                            {{
                                glide:image
                                width="{ size:width }"
                                height="{ size:width * size:ratio }"
                                :bg="bg"
                                :blur="blur"
                                :brightness="brightness"
                                :contrast="contrast"
                                :filter="filter"
                                :gamma="gamma"
                                :pixelate="pixelate"
                                :sharpen="sharpen"
                                fit="crop_focal"
                                quality="{ quality ?? '85' }"
                            }}
                            {{ size:width }}w{{ !last ?= ',' }}
                        {{ /srcset }}
                    "
                    sizes="{{ sizes ?? '(min-width: 1280px) 640px, (min-width: 768px) 50vw, 90vw' }}"
                    type="{{ image.mime_type }}"
                >
                <img
                    width="{{ width }}"
                    height="{{ height }}"
                    src="{{ glide:image
                        width="1024"
                        height="{ 1024 * original_ratio }"
                        fit="crop_focal"
                        :bg="bg"
                        :blur="blur"
                        :brightness="brightness"
                        :contrast="contrast"
                        :filter="filter"
                        :gamma="gamma"
                        :pixelate="pixelate"
                        :sharpen="sharpen"
                        quality="{ quality ?? '85' }"
                    }}"
                    alt="{{ alt | ensure_right('.') | entities }}"
                    {{ if cover }}
                        class="object-cover w-full h-full {{ class }}"
                        style="object-position: {{ focus | background_position }}"
                    {{ else }}
                        class="{{ class }}"
                    {{ /if }}
                    {{ unless alt }}
                        aria-hidden="true"
                    {{ /unless }}
                    {{ if lazy }}
                        loading="lazy"
                    {{ /if }}
                >
            {{ /if }}
        </picture>
    {{ /asset }}
{{ /if }}